<div class="w-full">
  <p class="text-gray-700 mb-9 my-9 max-w-4xl text-center md:text-left">
    Conoce más sobre nuestra experiencia explorando proyectos de diseño web, desarrollo fullstack <br>
    y colaboraciones con distintas compañías. <br>
    En Behance encontrarás trabajos visuales y propuestas de interfaz, mientras que en GitHub <br>
    puedes ver implementaciones técnicas y soluciones funcionales. Cada proyecto refleja un <br>
    enfoque creativo, técnico y colaborativo.
  </p>
  <div class="flex flex-col sm:flex-row gap-4 items-center sm:items-stretch justify-center md:justify-start w-full">
    <a href="https://www.behance.net/miguelrodrigu" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center gap-2 bg-[#003366] text-lime-400 text-sm font-semibold px-6 py-2 rounded-md 
           hover:bg-lime-400 hover:text-[#003366] transition-colors duration-300 w-full sm:w-auto text-center">
      <i class="fab fa-behance text-lg"></i> Ver proyectos
    </a>

    <a href="https://github.com/Mgroyes" target="_blank" rel="noopener noreferrer" class="flex items-center justify-center gap-2 bg-[#003366] text-lime-400 text-sm font-semibold px-6 py-2 rounded-md 
           hover:bg-lime-400 hover:text-[#003366] transition-colors duration-300 w-full sm:w-auto text-center">
      <i class="fab fa-github text-lg"></i> Ver implementaciones
    </a>
  </div>
</div>